.popup__container_avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 282px;
  height: 272px;
  border-radius: 10px;
  position: relative;
  margin: auto;
  padding: 25px 22px;
}

@media screen and (min-width: 480px) {
  .popup__container_avatar {
    width: 430px;
    padding: 34px 37px 37px;
  }
}
